.App {
  background-color: #777777;
}

header {
  font-size: 60px;
  text-align: center;
  background-color: papayawhip;
  overflow: hidden;
  width: 100%;
}

body {
  flex-direction: column;
}

li {
  list-style: none;
  text-align: left;
  background-color: #343A40;
  color: white;
  margin-right: 10px;
}

li:nth-child(odd) {
  list-style: none;
  text-align: center;
  background-color: #494E53;
}

.searchInput label {
  visibility: hidden;
}

.item {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem 0 .5rem 4.5rem;
  width: 53vw;
  font-size: 25px;
  word-wrap: break-word;
  text-align: auto;
  margin-left: 270px;
}

.item label {
  width: 560px;
  text-align: left;
}

.item input[type='checkbox'] {
  padding: 10px;
  cursor: pointer;
  margin-right: 20px;
  height: 2.5rem;
  width: 2.5rem;
}

.btn {
  color: rgb(13, 0, 255);
  justify-content: right;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  font-style: normal;
  border: none;
  size: 10rem;
  background: none;
  margin: 5px;
}

.formInput {
  text-align: center;
  padding-top: 20px;
}

#addItem {
  display: inline-block;
  justify-content: center;
  width: 50vw;
  margin: auto;
  padding: 10px;
  background-color: #DEE2D6;
  border: 1px solid black;
}

#editItem {
  margin-right: 20px;
  width: 600px;
  height: 2.5rem;
  font-size: 20px;
}

.todoSubmit {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  background-color: papayawhip;
  border: 1px solid black;
}

.searchInput {
  display: inline-block;
  width: 100px;
  padding-left: 315px;
  align-self: center;
}

#search {
  display: inline-block;
  justify-content: center;
  width: 50vw;
  margin: auto;
  padding: 10px;
  background-color: #DEE2D6;
  border: 1px solid black;
}